@model Asp.NetCore.MVC.Domain.ViewModels.ReasonTitle.ReasonTitleViewModel

<div class="form-inline shadow p-3 mb-5 bg-light rounded">
	<h3 class="mb-0 text-center ParagraphHome">Редактирование</h3>
	<form asp-action="EditReasonTitle" enctype="multipart/form-data">
		<input asp-for="Id" hidden/>
		<div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
		<div class="form-group">
			<label asp-for="Reason"></label>
			<input asp-for="Reason" class="form-control" type="text">
		</div>
		<button class="btn btn-outline-dark m-1" type="submit">Сохранить</button>
	</form>
</div>