@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Asp.NetCore.MVC.Domain.ViewModels.User.UserViewModel

<div class="container form-inline shadow p-3 mb-5 bg-light rounded">
	<h3 class="mb-0 text-center ParagraphHome">Редактирование пользователя</h3>
	<form asp-action="EditUser" enctype="multipart/form-data">
		<div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
		<div class="form-group">
			<label asp-for="FirstName"></label>
			<input asp-for="FirstName" class="form-control" type="text">
		</div>
		<div class="form-group">
			<label asp-for="LastName"></label>
			<input asp-for="LastName" class="form-control" type="text">
		</div>
		<div class="form-group">
			<label asp-for="Login"></label>
			<input asp-for="Login" class="form-control" type="text">
		</div>
		<div class="form-group">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" type="text">
		</div>
		<div class="form-group">
			<label asp-for="IsAdministrator"></label>
			@Html.CheckBoxFor(m => m.IsAdministrator)
		</div>
		<button class="btn btn-outline-dark m-1" type="submit">Сохранить</button>
	</form>
</div>