@using Asp.NetCore.MVC.Domain.Enum
@model Asp.NetCore.MVC.Domain.ViewModels.Incident.IncidentViewModel


<div style="padding: 10px;"/>
<div class="col-md-12">
	<div class="card-body">
		<div class="card card-outline-secondary" style="background-color: white">
			<div class="card-header">
				<h3 class="mb-0 text-center ParagraphHome">Создание инцидента</h3>
			</div>
			<div class="card-body">
				<form asp-action="Create" enctype="multipart/form-data">
					<div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
					<div class="form-group">
						<label asp-for="Country"></label>
						<input asp-for="Country" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Region"></label>
						<input asp-for="Region" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="City"></label>
						<input asp-for="City" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Title"></label>
						<input asp-for="Title" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="IncidentFrom"></label>
						<select asp-for="IncidentFrom" class="form-control" asp-items="Html.GetEnumSelectList<IncidentFrom>()"></select>
					</div>
					<div class="form-group">
						<label asp-for="PhoneNumber"></label>
						<input asp-for="PhoneNumber" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Content"></label>
						<textarea asp-for="Content" class="form-control"></textarea>
					</div>
					<button class="btn btn-primary btn-lg float-right" type="submit">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</div>