@model Asp.NetCore.MVC.Domain.ViewModels.Incident.IncidentCreateViewModel


<div style="padding: 10px;"/>
<div class="col-md-12">
	<div class="card-body">
		<div class="card card-outline-secondary" style="background-color: white">
			<div class="card-header">
				<h3 class="mb-0 text-center ParagraphHome">Новое обращение</h3>
			</div>
			<div class="card-body">
				<form asp-action="Create" enctype="multipart/form-data">
					<div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
					<div class="form-group">
						<label asp-for="Incident.Country"></label>
						<input asp-for="Incident.Country" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Incident.Region"></label>
						<input asp-for="Incident.Region" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Incident.City"></label>
						<input asp-for="Incident.City" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="ReasonTitle"></label>
						<select asp-for="ReasonSelect" class="form-control" asp-items="@Model.ReasonTitle">
							@*<option value="">Выберите причину обращения</option>*@
						</select>
					</div>
					<div class="form-group">
						<label asp-for="IncidentFrom"></label>
						<select asp-for="FromSelect" class="form-control" asp-items="@Model.IncidentFrom">
							@*<option value="">Выберите источник обращения</option>*@
						</select>
					</div>
					<div class="form-group">
						<label asp-for="Incident.PhoneNumber"></label>
						<input asp-for="Incident.PhoneNumber" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Incident.Content"></label>
						<textarea asp-for="Incident.Content" class="form-control"></textarea>
					</div>
					<button class="btn btn-primary btn-lg float-right" type="submit">Создать</button>
				</form>
			</div>
		</div>
	</div>
</div>